.shadowBG {
  -webkit-box-shadow: -5px 3px 10px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 3px 10px -2px rgba(0,0,0,0.75);
  box-shadow: -5px 3px 10px -2px rgba(0,0,0,0.75);
  font-size: 12px;
  padding-top: 40px;

}

.imgCarousel{
  width: 500px;
  height: 500px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
